$navbar-h-phone: 80px;
$navbar-h-tablet: 90px;
$navbar-h-desktop: 100px;

$main-color: burlywood;
$main-color-hover: darken($main-color, 20%);
$bg-color: oldlace;
$title-color: $main-color-hover;

$text-color: #444;

