#about{
  .container {
    margin-bottom: 8vh;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .text{
      width: 50%;
      margin-right: 5vw;
    }
    >*{
      flex: 1;
    }
  }

  @include media("<tablet") {
    p {
      text-align: center;
    }
    .content{
      flex-direction: column-reverse;
      .text{
        width: 100%;
        margin-top: 5vw;
        margin-right: 0;
      }
    }
  }

  .about-image {

  }

}
