@import "./vars";


#navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-h-desktop;
  max-height: $scrolled-navbar-h;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  backdrop-filter: blur(10px);
  transition: all 500ms ease-out;
  z-index: 2;
  &.nav-transparent {
    //background-color: transparent;
    max-height: 200px;
    box-shadow: none;
    backdrop-filter: blur(0);
  }
  @include media("<tablet") {
    height: $navbar-h-phone;
  }
  @include media(">=tablet", "<desktop") {
    height: $navbar-h-tablet;
  }
}

#logo {
  position: relative;
  *{
    font-family: sans-serif;
  }
  .part-1 {
    text-transform: uppercase;
  }
  .part-2 {
    position: relative;
    top: -0.1em;
    height: 0;
    color: $main-color-hover;
    font-size: 3em;
    text-transform: uppercase;
  }
  .part-3 {
    display: flex;
    letter-spacing: 0.1em;
  }
  .line-1, .line-2 {
    display: flex;
    line-height: 1;
  }
  .line-2 {
    color: #000;
    padding-left: 2.2em;
    padding-top: .5em;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
}

.navbar-wrapper {
  width: 100%;
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links-wrapper {
    >* {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 0.8rem;
      background-color: transparent;
      text-shadow: 0 1px 1px white;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
        border-bottom: 1px solid $main-color-hover
      }
    }
    .active {
      color: black;
    }
  }
}
