@import "./vars";

#offers {
  background-color: $bg-color;
  .offers-container {
    padding: 8vh 5vw;
    h1{
      margin-top: 0;
    }

    .content {
      width: 60%;
      margin: auto;
      @include media("<tablet") {
        width: 100%;
      }
      ul{
        padding: 0;
      }
      li {
        list-style-type: none;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: baseline;
        font-size: 1.25em;
        &::before {
          content: '»';
          display: block;
          position: relative;
          top: 0.1em;
          margin-top: -1em;
          margin-right: 0.5em;
          color: $main-color-hover;
          font-size: 2em;
          font-weight: bold;
        }
        @include media("<lgphone") {
           font-size: 1em;
          &::before {
            font-size: 1.4em;
            margin-right: 0.25em;
          }
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 1.1em;
          margin-bottom: 0.25rem;
          &::before {
            font-size: 1.6em;
          }
        }
      }
    }
  }

}
