@import "./include-media.scss";
@import "./vendors/img-carousel.scss";
@import "_vars.scss";


.portfolio-container {
	overflow: hidden;
	height: 100vh;
	#navbar{
		position: relative;
	}
	#content{
		position: relative;
		height: calc(100% - #{$navbar-h-desktop});
		@include media("<tablet") {
			height: calc(100% - #{$navbar-h-phone});
		}
		@include media(">=tablet", "<desktop") {
			height: calc(100% - #{$navbar-h-tablet});
		}
	}
}

.btn-back {
	position: absolute;
	left: 2vw;
	top: 2vw;
	background-color: transparentize(#fff, 0.7);
	border: 1px solid $main-color;
	font-size: 0.8em;
	z-index: 2;
	&::before {
	  content: '';
	  position: relative;
	  display: inline-flex;
	  margin-right: 2px;
	  width: 1em;
	  height: .6em;
	  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="29.08" x2="3.08" y1="16" y2="16"/><line x1="29.08" x2="25.08" y1="16" y2="21"/><line x1="29.08" x2="25.08" y1="16" y2="11"/></svg>') center no-repeat;
	  background-size: 100%;
	  transform: rotate(180deg);
	}
}

.carousel {
	img{
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		object-fit: contain;
	}
}
