#about-us {
	.content {
		position: relative;
		justify-content: space-between;
		flex-direction: unset;
		.img-wrapper {
			max-width: 450px;
			> span {
				background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.2));
			}
		}

		@media (min-width: 576px) {
			h2 ~ * {
				flex: 1;
			}
		}
	}

}
