@import "../vars";

#index {
	position: relative;
	align-items: center;
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;

	.img-wrapper {
		position: absolute;
		top: 0;
		height: 0;
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		background-color: white;
		mix-blend-mode: multiply;
		opacity: 0.8;
		filter: blur(0px);
		transition: all .5s ease-in;
	}

	.content {
		position: relative;
		margin: 12vh auto 0;
		text-align: center;
		gap: 0;
		z-index: 1;
		h1, h2{
			gap: 1rem;
			font-size: 1.6rem;
			color: white;
			text-shadow: 0 1px 1px black;

			@media (min-width: 576px) {
				font-size: 2.2rem;
			}
			@media (min-width: 992px) {
				font-size: 2.6rem;
			}
		}
	}


	p {
		text-align: center;
	}

	p, ol, ul {
		width: 95%;
		margin: 4vh auto;
		padding: 4vh;
		font-size: 1em;
		text-align: left;
		overflow: hidden;
		border-radius: 1px;
		background-color: transparentize(#fff, 0.2);
		@media (min-width: 576px) {
			width: 80%;
			font-size: 1.1em;
		}
		@media (min-width: 992px) {
			width: 60%;
			font-size: 1.2em;
		}

	}

	ul {
		opacity: 0;
		transform: translateY(100%);
	}

	.visible > ul{
		transition: transform 900ms 4000ms ease-out, opacity 1200ms 4000ms ease-out;
		opacity: 1;
		transform: none;
	}

	li {
		list-style-type: none;
		margin-bottom: 0.5em;

		&::before {
			content: '✓ ';
			font-size: inherit;
			font-weight: bold;
			color: $brand-color;
		}
	}
}
