@import "../vars.module";

#index {
	position: relative;
	align-items: center;
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;

	.img-wrapper {
		background-color: white;
		mix-blend-mode: multiply;
		opacity: 0.8;
		filter: blur(0px);
		transition: all .5s ease-in;
	}

	.content {
		position: relative;
		margin: 12vh auto 0;
		text-align: center;
		z-index: 1;
	}

	.main-title {
		margin-top: 0;
		margin-bottom: 4vh;
		text-shadow: 0 0 10px lighten($brand-color, 20%);
	}

	h2 {
		font-size: 1.4rem;
		font-weight: bold;
		color: white;
		text-shadow: 0 1px 1px black;
		@include media-breakpoint-up(sm) {
			font-size: 1.6rem;
		}
	}

	p {
		text-align: center;
	}

	p, ol, ul {
		width: 95%;
		margin: 4vh auto;
		padding: 4vh;
		font-size: 1em;
		text-align: left;
		overflow: hidden;
		border-radius: 5px;
		background-color: transparentize(#fff, 0.2);
		@include media-breakpoint-up(sm) {
			width: 80%;
		}
		@include media-breakpoint-up(lg) {
			width: 60%;
		}

	}

	li {
		list-style-type: none;
		margin-bottom: 0.5em;

		&::before {
			content: '✓ ';
			font-size: 1.2em;
			font-weight: bold;
			color: $brand-color-hover;
		}
	}
}