@import "../vars";


#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.navbar-items {
	min-width: 300px;
	padding: 0 1rem;
	background-color: transparentize(white, 0.7);
	> a {
		text-decoration: none;
		padding: 0.75rem;
		font-family: "Open Sans", sans-serif;
		transition: all 0.2s ease;
		border-bottom: 1px solid transparent;
		text-shadow: 0 1px 1px white;

		&:hover {
			background-color: white;
		}
	}

}


.logo {
	position: relative;
	margin: 0 1.75rem;
	pointer-events: none;
	user-select: none;
	* {
		font-family: sans-serif;
	}

	.part-1 {
		text-transform: uppercase;
	}

	.part-2 {
		position: relative;
		top: -0.1em;
		height: 0;
		color: $brand-color-hover;
		font-size: 3em;
		text-transform: uppercase;
	}

	.part-3 {
		display: flex;
		letter-spacing: 0.1em;
	}

	.line-1, .line-2 {
		display: flex;
		line-height: 1;
	}

	.line-2 {
		color: #000;
		padding-left: 2.2em;
		padding-top: .5em;
		letter-spacing: .4em;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
	}
}
