@import "../vars";


#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.navbar-items {
	min-width: 300px;
	padding: 0 1rem;
	background-color: transparentize(white, 0.7);
	> a {
		text-decoration: none;
		padding: 0.75rem;
		font-family: "Open Sans", sans-serif;
		transition: all 0.2s ease;
		border-bottom: 1px solid transparent;
		text-shadow: 0 1px 1px white;

		&:hover {
			background-color: white;
		}
	}

}


.logo {
	position: relative;
	max-width: 80px;
	margin: 0 1.75rem;
	pointer-events: none;
	user-select: none;
	color: $brand-color;
	@media (max-width: 768px) {
		max-width: 50px;
	}
}
