@import "../vars";

#offers {
	.container {
		width: 100%;
		max-width: 800px;
		margin: auto;
	}

	.content {
		margin: auto;
		@media (min-width: 576px) {
			width: 100%;
		}
	}

	.accordion {
		box-shadow: none;
		&::before {
			background-color: unset;
		}
	}

	.accordion-header {
		text-transform: uppercase;
		font-weight: bold;
		flex-direction: row-reverse;
		border-bottom: 1px dotted $brand-color;
	}

	.accordion-details {
		background-color: $bg-color-2;

		> * {
			padding: 1rem 2rem;
			margin-bottom: 0;
		}
	}

	@media (min-width: 576px) {
		.accordion-details {
			font-size: 0.8rem;
		}
	}
	@media (max-width: 575.98px) {
		.accordion-header {
			font-size: 1.2rem;
		}
	}

}
