@import "../vars";

#promotion {
	background-color: $bg-color-2;

	.container {
		width: 100%;
		max-width: 800px;
		margin: auto;
		gap: 2rem;
	}

	ol {
		padding: 0;
		counter-reset: li;
		//list-style: none;
	}

	li {
		//list-style-type: none;
		display: flex;
		align-items: flex-start;
		margin-bottom: 2rem;
		font-size: 1.2rem;

		&::before {
			content: counter(li);
			counter-increment: li;
			position: relative;
			display: flex;
			justify-content: flex-end;
			top: -0.3rem;
			min-width: 3rem;
			margin-right: 0.75rem;
			text-align: right;
			font-size: 10vh;
			line-height: 1;
			color: $brand-color-hover;
			font-weight: 500;
		}

	}
}
