@import "../vars";

#skills {

	.container {
		gap: 2rem
	}

	.skill-content {
		gap: 1.5rem;
		img {
			max-width: 50px;
		}

		>div p {
			font-size: 1.2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: 576px) {
			padding: 1.5rem;
			img {
				max-width: 75px;
			}
			>div p {
				font-size: 1rem;
			}
		}
	}

}
